#!/usr/bin/env bash

watch_file .tool-versions

asdf_has golang || asdf plugin-add golang
asdf_has editorconfig-checker || asdf plugin-add editorconfig-checker
asdf_has hadolint || asdf plugin-add hadolint
asdf_has python || asdf plugin-add python
asdf install | sed '/is already installed/d'
use asdf

has pipx || use pipx
has pre-commit \
  || pipx install 'pre-commit>=4.3'
has detect-secrets \
  || pipx install 'detect-secrets>=1.5'

use pre-commit

# Install Go tools using go install for better Go module integration
has gomarkdoc \
  || go install github.com/princjef/gomarkdoc/cmd/gomarkdoc@v1.1.0
has gosec \
  || go install github.com/securego/gosec/v2/cmd/gosec@v2.22.7
has golangci-lint \
  || go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
has govulncheck \
  || go install golang.org/x/vuln/cmd/govulncheck@v1.1.4
has goimports \
  || go install golang.org/x/tools/cmd/goimports@v0.36.0
has gocyclo \
  || go install github.com/fzipp/gocyclo/cmd/gocyclo@v0.6.0

layout python-venv
